{
  "openapi": "3.1.0",
  "info": {
    "version": "0.0.1",
    "title": "diagrams-api",
    "description": "The DiagRAMS API"
  },
  "servers": [{ "url": "https://api.diagrams-technologies.com/v0" }],
  "paths": {
    "/alerts/{alertId}": {
      "delete": {
        "operationId": "deleteAlert",
        "summary": "Remove an alert.",
        "tags": ["alerts"],
        "security": [{ "bearerAuth": ["admin"] }],
        "parameters": [
          { "$ref": "#/components/parameters/alertId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "204": { "description": "Successfully deleted an alert" }
        }
      }
    },
    "/applications/{applicationId}": {
      "delete": {
        "operationId": "deleteApplication",
        "summary": "Remove an application.",
        "tags": ["applications"],
        "security": [{ "bearerAuth": ["admin"] }],
        "parameters": [
          { "$ref": "#/components/parameters/applicationId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "204": { "description": "Successfully deleted an application" }
        }
      }
    },
    "/interventions/{interventionId}": {
      "delete": {
        "operationId": "deleteIntervention",
        "summary": "Remove a intervention.",
        "tags": ["interventions"],
        "security": [{ "bearerAuth": ["admin"] }],
        "parameters": [
          { "$ref": "#/components/parameters/interventionId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "204": { "description": "Successfully deleted an intervention" }
        }
      }
    },
    "/projects/{projectId}": {
      "delete": {
        "operationId": "deleteProject",
        "summary": "Remove a project.",
        "tags": ["projects"],
        "security": [{ "bearerAuth": ["admin"] }],
        "parameters": [
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "204": { "description": "Successfully deleted an project" }
        }
      }
    },
    "/users/{userId}/organisations/{organisationId}/alerts/{alertId}": {
      "delete": {
        "operationId": "deleteUserOrganisationAlert",
        "summary": "Remove an user's alert.",
        "tags": ["alerts"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/alertId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "204": { "description": "Succesfully deleted the alert" }
        }
      },
      "get": {
        "operationId": "getUserOrganisationAlert",
        "summary": "Returns an organisation's alert.",
        "tags": ["alerts"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/alertId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/AlertItemResponse" }
        }
      },
      "put": {
        "operationId": "putUserOrganisationAlert",
        "summary": "Upsert an alert.",
        "tags": ["alerts"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/alertId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "requestBody": {
          "description": "The alert",
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "id": "ce5ca55e-caca-abba-caca-abbacacacaca",
                "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                "assetId": "a5537000-0000-0000-0000-000000000001",
                "interventionId": "a17e4a4c-e000-0000-0000-000000000000",
                "factoryId": "fab1ab00-0000-0000-0000-000000000000",
                "sensorsIds": [
                  "5e450401-b0b0-b0b0-b0b0-abbacacab0b0",
                  "5e450402-b0b0-b0b0-b0b0-abbacacab0b0"
                ],
                "imagesIds": [
                  "14614614-0000-0000-0000-000000000000",
                  "14614614-0000-0000-0000-000000000001"
                ],
                "sensorsValues": ["t"],
                "eventsIds": [],
                "creation": "2020-01-01T00:00:00Z",
                "lastModification": "2020-01-01T00:00:00Z",
                "data": {
                  "code": "custom:my_own_message",
                  "i18nMessage": {
                    "fr-FR": "Un message de diagnostic en français",
                    "en-US": "A diagnostic message in english"
                  },
                  "priority": "not_set",
                  "severity": "critical",
                  "viewed": false,
                  "details": {},
                  "assignedUsersIds": [
                    "abbacaca-b0b0-b0b0-b0b0-abbacacab2b2",
                    "abbacaca-b0b0-b0b0-b0b0-abbacacab3b3"
                  ],
                  "comment": "A comment by manager"
                }
              },
              "schema": { "$ref": "#/components/schemas/AlertModel" }
            }
          }
        },
        "responses": {
          "201": { "$ref": "#/components/responses/AlertItemResponse" }
        }
      }
    },
    "/users/{userId}/organisations/{organisationId}/alerts/{alertId}/attachments/{attachmentId}": {
      "delete": {
        "operationId": "deleteUserOrganisationAlertAttachment",
        "summary": "Remove an alert attachment.",
        "tags": ["alerts"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/alertId" },
          { "$ref": "#/components/parameters/attachmentId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "204": { "description": "Deleted the alert attachment" }
        }
      },
      "put": {
        "operationId": "putUserOrganisationAlertAttachment",
        "summary": "Upsert an alert attachment.",
        "tags": ["alerts"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/alertId" },
          { "$ref": "#/components/parameters/attachmentId" },
          { "$ref": "#/components/parameters/FileName" },
          { "$ref": "#/components/parameters/FileSize" },
          { "$ref": "#/components/parameters/AttachmentFileType" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/Attachment" },
        "responses": { "201": { "description": "Saved the alert image" } }
      }
    },
    "/users/{userId}/organisations/{organisationId}/alerts/{alertId}/images/{imageId}": {
      "delete": {
        "operationId": "deleteUserOrganisationAlertImage",
        "summary": "Remove an alert image.",
        "tags": ["alerts"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/alertId" },
          { "$ref": "#/components/parameters/imageId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": { "204": { "description": "Deleted the alert image" } }
      },
      "put": {
        "operationId": "putUserOrganisationAlertImage",
        "summary": "Upsert an alert image.",
        "tags": ["alerts"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/alertId" },
          { "$ref": "#/components/parameters/imageId" },
          { "$ref": "#/components/parameters/FileName" },
          { "$ref": "#/components/parameters/FileSize" },
          { "$ref": "#/components/parameters/ImageFileType" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/Image" },
        "responses": { "201": { "description": "Saved the alert image" } }
      }
    },
    "/users/{userId}/organisations/{organisationId}/applications/{applicationId}": {
      "delete": {
        "operationId": "deleteUserOrganisationApplication",
        "summary": "Remove an user's organisation's applications.",
        "tags": ["applications"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/applicationId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "204": { "description": "Successfully deleted the application" }
        }
      },
      "put": {
        "operationId": "putUserOrganisationApplication",
        "summary": "Upsert an user's organisation's application.",
        "tags": ["applications"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/applicationId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "requestBody": {
          "description": "The user's organisation's application",
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "id": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                "authorId": "41c041c0-0000-0000-0000-000000000000",
                "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                "data": {
                  "name": "Customer Application",
                  "description": "Customer Application data bridge",
                  "allowedScopes": ["data", "oauth2"],
                  "allowedGrantTypes": ["refresh"],
                  "callbackUrl": "http://localhost",
                  "isActive": true
                },
                "creation": "2020-01-01T00:00:00Z",
                "lastModification": "2020-01-01T00:00:00Z"
              },
              "schema": { "$ref": "#/components/schemas/ApplicationModel" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created application",
            "content": {
              "application/json": {
                "example": {
                  "item": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                  "applications": {
                    "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0": {
                      "id": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "authorId": "41c041c0-0000-0000-0000-000000000000",
                      "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "data": {
                        "name": "Customer Application",
                        "description": "Customer Application data bridge",
                        "allowedScopes": ["data", "oauth2"],
                        "allowedGrantTypes": ["refresh"],
                        "callbackUrl": "http://localhost",
                        "isActive": true
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z",
                      "secret": "secret"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/ApplicationItem" }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/organisations/{organisationId}/interventions/{interventionId}": {
      "delete": {
        "operationId": "deleteUserOrganisationIntervention",
        "summary": "Remove an user's organisation's interventions.",
        "tags": ["interventions"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/interventionId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "204": { "description": "Successfully deleted an intervention" }
        }
      }
    },
    "/users/{userId}/organisations/{organisationId}/interventions/{interventionId}/images/{imageId}": {
      "delete": {
        "operationId": "deleteUserOrganisationInterventionImage",
        "summary": "Remove an intervention image.",
        "tags": ["interventions"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/interventionId" },
          { "$ref": "#/components/parameters/imageId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "204": { "description": "Deleted the intervention image" }
        }
      },
      "put": {
        "operationId": "putUserOrganisationInterventionImage",
        "summary": "Upsert a intervention image.",
        "tags": ["interventions"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/interventionId" },
          { "$ref": "#/components/parameters/imageId" },
          { "$ref": "#/components/parameters/FileName" },
          { "$ref": "#/components/parameters/FileSize" },
          { "$ref": "#/components/parameters/ImageFileType" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/Image" },
        "responses": {
          "201": { "description": "Saved the intervention image" }
        }
      }
    },
    "/users/{userId}/organisations/{organisationId}/memberships/{collaboratorId}": {
      "delete": {
        "operationId": "deleteUserOrganisationMembership",
        "summary": "Remove an organisation's user's membership.",
        "tags": ["users"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          {
            "name": "collaboratorId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "The user id to remove from the organisation."
          },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "204": {
            "description": "Succesfully deleted the membership from the orgnisation"
          }
        }
      }
    },
    "/users/{userId}/organisations/{organisationId}/projects/{projectId}": {
      "delete": {
        "operationId": "deleteUserOrganisationProject",
        "summary": "Remove an user's organisation's project.",
        "tags": ["projects"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "204": { "description": "Successfully deleted the project" }
        }
      },
      "put": {
        "operationId": "putUserOrganisationProject",
        "summary": "Upsert an user's organisation's project.",
        "tags": ["projects"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "requestBody": {
          "description": "The user's organisation's project",
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "id": "31e331e3-b0b0-b0b0-b0b0-abbacacab0b0",
                "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                "author": "41c041c0-0000-0000-0000-000000000000",
                "data": {
                  "name": "Customer Project",
                  "description": "A customer project setup by itself.",
                  "projectCode": "bench",
                  "algorithms": ["pipelines"],
                  "bridge": {
                    "type": "pull",
                    "handler": "handlePowerTrackSynchronization",
                    "schedule": "0 0 * * *"
                  },
                  "ingestion": {
                    "handler": "handleDataBenchIngestion",
                    "sourceTopic": "raw",
                    "batchSize": 2000,
                    "delay": 30000
                  },
                  "indexation": {
                    "handler": "handleDataBenchIndexation",
                    "sourceTopic": "enriched",
                    "batchSize": 2000,
                    "delay": 30000
                  }
                },
                "creation": "2020-01-01T00:00:00Z",
                "lastModification": "2020-01-01T00:00:00Z"
              },
              "schema": { "$ref": "#/components/schemas/ProjectModel" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created project",
            "content": {
              "application/json": {
                "example": {
                  "item": "31e331e3-b0b0-b0b0-b0b0-abbacacab0b0",
                  "projects": {
                    "31e331e3-b0b0-b0b0-b0b0-abbacacab0b0": {
                      "id": "31e331e3-b0b0-b0b0-b0b0-abbacacab0b0",
                      "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "author": "41c041c0-0000-0000-0000-000000000000",
                      "data": {
                        "name": "Customer Project",
                        "description": "A customer project setup by itself.",
                        "projectCode": "bench",
                        "algorithms": ["pipelines"],
                        "bridge": {
                          "type": "pull",
                          "handler": "handlePowerTrackSynchronization",
                          "schedule": "0 0 * * *"
                        },
                        "ingestion": {
                          "handler": "handleDataBenchIngestion",
                          "sourceTopic": "raw",
                          "batchSize": 2000,
                          "delay": 30000
                        },
                        "indexation": {
                          "handler": "handleDataBenchIndexation",
                          "sourceTopic": "enriched",
                          "batchSize": 2000,
                          "delay": 30000
                        }
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/ProjectItem" }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/organisations/{organisationId}/sensors/{sensorId}/series/{valueName}": {
      "delete": {
        "operationId": "deleteUserOrganisationSensorSeries",
        "summary": "Remove an user's organisation's sensor's series.",
        "tags": ["sensors"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/sensorId" },
          { "$ref": "#/components/parameters/valueName" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "204": { "description": "Successfully deleted the sensor series." }
        }
      }
    },
    "/alerts/stats": {
      "get": {
        "operationId": "getAlertsStats",
        "summary": "Returns alerts stats",
        "tags": ["alerts"],
        "security": [{ "bearerAuth": ["admin"] }],
        "parameters": [
          { "$ref": "#/components/parameters/OptionalWithFactoriesIds" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Alerts stats",
            "content": {
              "application/json": {
                "example": [
                  {
                    "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                    "stats": {
                      "discarded": 2,
                      "fixed": 5,
                      "closed": 1,
                      "open": 8,
                      "total": 16
                    }
                  },
                  {
                    "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab1b1",
                    "stats": {
                      "discarded": 2,
                      "fixed": 5,
                      "closed": 4,
                      "open": 0,
                      "total": 11
                    }
                  }
                ],
                "schema": { "$ref": "#/components/schemas/AlertsStats" }
              }
            }
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "operationId": "getAuthProfile",
        "summary": "Returns the authenticated user profile.",
        "tags": ["auth"],
        "parameters": [
          { "$ref": "#/components/parameters/cookie" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The actual user profile",
            "content": {
              "application/json": {
                "example": {
                  "item": "41c041c0-0000-0000-0000-000000000000",
                  "users": {
                    "41c041c0-0000-0000-0000-000000000000": {
                      "id": "41c041c0-0000-0000-0000-000000000000",
                      "roles": ["user"],
                      "memberships": [
                        {
                          "roles": ["technician"],
                          "id": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                          "status": "member",
                          "lastInvitationDate": "2020-01-01T00:00:00Z"
                        }
                      ],
                      "data": {
                        "email": "john.doe@diagrams-technologies.com",
                        "name": "John Doe",
                        "givenName": "John",
                        "familyName": "Doe",
                        "locale": "fr-FR",
                        "timeZone": "Europe/Paris"
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z",
                      "emailStatus": "bouncing"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/UserItem" }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getMySelf",
        "summary": "Redirect to the user profile.",
        "tags": ["users"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the fully qualified profile path"
          }
        }
      }
    },
    "/openAPI": {
      "get": {
        "operationId": "getOpenAPI",
        "summary": "Get API documentation.",
        "tags": ["system"],
        "responses": {
          "200": {
            "description": "Provides the private Open API documentation",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [
          {},
          { "bearerAuth": ["admin"] },
          { "basicAuth": ["admin"] }
        ],
        "parameters": [
          {
            "name": "mutedTags",
            "in": "query",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ]
      }
    },
    "/organisations/{organisationId}/factories/{factoryId}": {
      "get": {
        "operationId": "getOrganisationFactory",
        "summary": "Returns an organisation's factory.",
        "tags": ["factories"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/factoryId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's factory",
            "content": {
              "application/json": {
                "example": {
                  "item": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                  "factories": {
                    "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0": {
                      "id": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "syncMode": "none",
                      "externalId": "F-0001",
                      "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "rootAssetsIds": [],
                      "linkedOrganisationsIds": [],
                      "data": {
                        "name": "Minions Factory",
                        "locale": "fr-FR",
                        "timeZone": "Europe/Paris"
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/FactoryItem" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/factories/{factoryId}/alerts/stats": {
      "get": {
        "operationId": "getOrganisationFactoryAlertsStats",
        "summary": "Returns organisation's factory's alerts stats.",
        "tags": ["alerts"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/factoryId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Alerts stats",
            "content": {
              "application/json": {
                "example": {
                  "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                  "stats": {
                    "discarded": 2,
                    "fixed": 5,
                    "closed": 1,
                    "open": 8,
                    "total": 16
                  }
                },
                "schema": { "$ref": "#/components/schemas/AlertsStat" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/factories/{factoryId}/assets/{assetId}": {
      "get": {
        "operationId": "getOrganisationFactoryAsset",
        "summary": "Returns an organisation's factory asset.",
        "tags": ["factories"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/factoryId" },
          { "$ref": "#/components/parameters/assetId" },
          { "$ref": "#/components/parameters/IncludeChildrenIds" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's factory asset",
            "content": {
              "application/json": {
                "example": {
                  "item": "a5537000-0000-0000-0000-000000000001",
                  "assets": {
                    "a5537000-0000-0000-0000-000000000001": {
                      "id": "a5537000-0000-0000-0000-000000000001",
                      "syncMode": "none",
                      "externalId": "LN-0001",
                      "factoryId": "fab1ab00-0000-0000-0000-000000000000",
                      "currentConfiguration": "main",
                      "currentPhase": "p34",
                      "currentCycle": "c23",
                      "metrics": {
                        "cadency": {
                          "value": 86,
                          "unit": "rotations/minutes",
                          "status": "good"
                        },
                        "output": {
                          "value": 33,
                          "unit": "rotations",
                          "goal": 1664,
                          "status": "good"
                        }
                      },
                      "powerState": "on",
                      "operatingState": "normal",
                      "healthState": "good",
                      "data": {
                        "name": "Minion Area",
                        "tags": [],
                        "type": "area"
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/AssetItem" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/factories/{factoryId}/assets": {
      "get": {
        "operationId": "getOrganisationFactoryAssets",
        "summary": "Returns an organisation's factory assets.",
        "tags": ["factories"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/factoryId" },
          { "$ref": "#/components/parameters/OptionalWithAssetsIds" },
          { "$ref": "#/components/parameters/OptionalWithAssetsTypes" },
          { "$ref": "#/components/parameters/OptionalWithRootAssetsFirst" },
          { "$ref": "#/components/parameters/OptionalWithParentsAssetsIds" },
          { "$ref": "#/components/parameters/assetsSortBy" },
          { "$ref": "#/components/parameters/direction" },
          { "$ref": "#/components/parameters/IncludeChildrenIds" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/start" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's factory assets",
            "content": {
              "application/json": {
                "example": {
                  "items": ["a5537000-0000-0000-0000-000000000001"],
                  "assets": {
                    "a5537000-0000-0000-0000-000000000001": {
                      "id": "a5537000-0000-0000-0000-000000000001",
                      "syncMode": "none",
                      "externalId": "LN-0001",
                      "factoryId": "fab1ab00-0000-0000-0000-000000000000",
                      "currentConfiguration": "main",
                      "currentPhase": "p34",
                      "currentCycle": "c23",
                      "metrics": {
                        "cadency": {
                          "value": 86,
                          "unit": "rotations/minutes",
                          "status": "good"
                        },
                        "output": {
                          "value": 33,
                          "unit": "rotations",
                          "goal": 1664,
                          "status": "good"
                        }
                      },
                      "powerState": "on",
                      "operatingState": "normal",
                      "healthState": "good",
                      "data": {
                        "name": "Minion Area",
                        "tags": [],
                        "type": "area"
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/AssetsItems" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/factories/{factoryId}/labels": {
      "get": {
        "operationId": "getOrganisationFactoryDataLabels",
        "summary": "returns data labels for a given factory",
        "tags": ["data"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/factoryId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {},
                "schema": {
                  "type": "array",
                  "additionalProperties": false,
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "key": { "type": "string" },
                      "doc_count": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/factories/{factoryId}/events": {
      "get": {
        "operationId": "getOrganisationFactoryEvents",
        "summary": "Returns an organisation's events.",
        "tags": ["data"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/factoryId" },
          { "$ref": "#/components/parameters/OptionalWithAssetsIds" },
          { "$ref": "#/components/parameters/OptionalWithAncestorsIds" },
          { "$ref": "#/components/parameters/OptionalWithAssetConfigurations" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingPhases" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingCycles" },
          { "$ref": "#/components/parameters/OptionalWithEventsIds" },
          { "$ref": "#/components/parameters/OptionalWithEventType" },
          { "$ref": "#/components/parameters/OptionalsensorsIds" },
          { "$ref": "#/components/parameters/OptionalvaluesNames" },
          { "$ref": "#/components/parameters/OptionalWithUsersFeedback" },
          { "$ref": "#/components/parameters/since" },
          { "$ref": "#/components/parameters/before" },
          { "$ref": "#/components/parameters/size" },
          { "$ref": "#/components/parameters/beforeDate" },
          { "$ref": "#/components/parameters/afterDate" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's events",
            "content": {
              "application/json": {
                "example": {
                  "cursors": {
                    "before": "an_opaque_string",
                    "since": "an_opaque_string"
                  },
                  "total": 1,
                  "items": ["abbacaca-b0b0-b0b0-b0b0-abbacacab0b0"],
                  "events": {
                    "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0": {
                      "id": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "type": "realtime_alert",
                      "timestamp": 1609459200000,
                      "data": {
                        "projectCode": "bench",
                        "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                        "factoryId": "fab1ab00-0000-0000-0000-000000000000",
                        "ancestorsIds": [
                          "a5537000-0000-0000-0000-000000000001",
                          "a5537000-0000-0000-0000-000000000002"
                        ],
                        "assetsIds": [
                          "a5537000-0000-0000-0000-000000000001",
                          "a5537000-0000-0000-0000-000000000002"
                        ],
                        "sensorsIds": [
                          "5e450401-b0b0-b0b0-b0b0-abbacacab0b0",
                          "5e450402-b0b0-b0b0-b0b0-abbacacab0b0"
                        ],
                        "valuesNames": ["voltage", "intensity"],
                        "labels": {
                          "assets": {
                            "values": { "aCustomProp": "a_custom_value" },
                            "tags": ["a_custom_label"],
                            "configurations": ["c4"],
                            "cycles": ["c4c4"],
                            "phases": ["p4"]
                          },
                          "ancestors": {
                            "values": { "aCustomProp": "a_custom_value" },
                            "tags": ["a_custom_label"],
                            "configurations": ["c4"],
                            "cycles": ["c4c4"],
                            "phases": ["p4"]
                          },
                          "tags": [
                            "ATagLabelOfYourChoice",
                            "AnotherTagLabelOfYourChoice"
                          ]
                        },
                        "startDate": "2021-02-07T08:01:18.637Z",
                        "endDate": "2021-02-07T09:01:18.637Z",
                        "triggeringValue": 25,
                        "activatedAlertsTriggersIds": [
                          "acdc41ce-acdc-41ce-acdc-41ceacdc41ce",
                          "acdc41ce-acdc-41ce-acdc-41ceacdc41cf"
                        ],
                        "variables": { "x": 20 }
                      }
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/EventsItems" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/factories/{factoryId}/interventions/{interventionId}": {
      "get": {
        "operationId": "getOrganisationFactoryIntervention",
        "summary": "Return an organisation's factory's intervention",
        "tags": ["interventions"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/factoryId" },
          { "$ref": "#/components/parameters/interventionId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The intervention entry",
            "content": {
              "application/json": {
                "example": {
                  "item": "a17e4a4c-e000-0000-0000-000000000000",
                  "interventions": {
                    "a17e4a4c-e000-0000-0000-000000000000": {
                      "id": "a17e4a4c-e000-0000-0000-000000000000",
                      "authorId": "41c041c0-0000-0000-0000-000000000000",
                      "imagesIds": [],
                      "attachmentsIds": [],
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-07T00:00:00Z",
                      "data": {
                        "assignedUsersIds": [
                          "41c041c0-0000-0000-0000-000000000000",
                          "41c041c0-0000-0000-0000-000000000000"
                        ],
                        "archived": false,
                        "priority": "not_set",
                        "assetsIds": [
                          "a5537000-0000-0000-0000-000000000001",
                          "a5537000-0000-0000-0000-000000000002"
                        ],
                        "report": {
                          "rootCauses": "some thing happens",
                          "fixDetails": "an intervention fix details",
                          "startDate": "2020-01-05T00:00:00Z",
                          "endDate": "2020-01-06T00:00:00Z"
                        }
                      }
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/InterventionItem" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/factories/{factoryId}/interventions": {
      "get": {
        "operationId": "getOrganisationFactoryInterventions",
        "summary": "Return an organisation's factory's interventions",
        "tags": ["interventions"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/factoryId" },
          { "$ref": "#/components/parameters/OptionalWithInterventionsIds" },
          { "$ref": "#/components/parameters/OptionalWithAssetsIds" },
          { "$ref": "#/components/parameters/OptionalWithAncestorsIds" },
          { "$ref": "#/components/parameters/interventionsSortBy" },
          { "$ref": "#/components/parameters/direction" },
          { "$ref": "#/components/parameters/WithAttachments" },
          { "$ref": "#/components/parameters/WithImages" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/start" },
          { "$ref": "#/components/parameters/fromFilter" },
          { "$ref": "#/components/parameters/toFilter" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The interventions collection",
            "content": {
              "application/json": {
                "example": {
                  "items": ["a17e4a4c-e000-0000-0000-000000000000"],
                  "interventions": {
                    "a17e4a4c-e000-0000-0000-000000000000": {
                      "id": "a17e4a4c-e000-0000-0000-000000000000",
                      "authorId": "41c041c0-0000-0000-0000-000000000000",
                      "imagesIds": [],
                      "attachmentsIds": [],
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-07T00:00:00Z",
                      "data": {
                        "assignedUsersIds": [
                          "41c041c0-0000-0000-0000-000000000000",
                          "41c041c0-0000-0000-0000-000000000000"
                        ],
                        "archived": false,
                        "priority": "not_set",
                        "assetsIds": [
                          "a5537000-0000-0000-0000-000000000001",
                          "a5537000-0000-0000-0000-000000000002"
                        ],
                        "report": {
                          "rootCauses": "some thing happens",
                          "fixDetails": "an intervention fix details",
                          "startDate": "2020-01-05T00:00:00Z",
                          "endDate": "2020-01-06T00:00:00Z"
                        }
                      }
                    }
                  },
                  "alerts": {
                    "ce5ca55e-caca-abba-caca-abbacacacaca": {
                      "id": "ce5ca55e-caca-abba-caca-abbacacacaca",
                      "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "assetId": "a5537000-0000-0000-0000-000000000001",
                      "interventionId": "a17e4a4c-e000-0000-0000-000000000000",
                      "factoryId": "fab1ab00-0000-0000-0000-000000000000",
                      "sensorsIds": [
                        "5e450401-b0b0-b0b0-b0b0-abbacacab0b0",
                        "5e450402-b0b0-b0b0-b0b0-abbacacab0b0"
                      ],
                      "imagesIds": [
                        "14614614-0000-0000-0000-000000000000",
                        "14614614-0000-0000-0000-000000000001"
                      ],
                      "sensorsValues": ["t"],
                      "eventsIds": [],
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z",
                      "data": {
                        "code": "custom:my_own_message",
                        "i18nMessage": {
                          "fr-FR": "Un message de diagnostic en français",
                          "en-US": "A diagnostic message in english"
                        },
                        "priority": "not_set",
                        "severity": "critical",
                        "viewed": false,
                        "details": {},
                        "assignedUsersIds": [
                          "abbacaca-b0b0-b0b0-b0b0-abbacacab2b2",
                          "abbacaca-b0b0-b0b0-b0b0-abbacacab3b3"
                        ],
                        "comment": "A comment by manager"
                      }
                    }
                  },
                  "images": {
                    "14614614-0000-0000-0000-000000000000": {
                      "id": "14614614-0000-0000-0000-000000000000",
                      "scope": "data-science",
                      "urls": {
                        "original": "https://example.com/images/14614614-0000-0000-0000-000000000000",
                        "large": "https://example.com/images/14614614-0000-0000-0000-000000000000",
                        "medium": "https://example.com/images/14614614-0000-0000-0000-000000000000",
                        "thumb": "https://example.com/images/14614614-0000-0000-0000-000000000000"
                      },
                      "stats": {
                        "name": "IMG_20201030_114025.jpg",
                        "size": 402308,
                        "type": "image/jpeg"
                      },
                      "creation": "2020-01-01T02:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z"
                    }
                  },
                  "users": {
                    "41c041c0-0000-0000-0000-000000000000": {
                      "id": "41c041c0-0000-0000-0000-000000000000",
                      "roles": ["user"],
                      "memberships": [
                        {
                          "roles": ["technician"],
                          "id": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                          "status": "member",
                          "lastInvitationDate": "2020-01-01T00:00:00Z"
                        }
                      ],
                      "data": {
                        "email": "john.doe@diagrams-technologies.com",
                        "name": "John Doe",
                        "givenName": "John",
                        "familyName": "Doe",
                        "locale": "fr-FR",
                        "timeZone": "Europe/Paris"
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z",
                      "emailStatus": "bouncing"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/InterventionsItems" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/factories/{factoryId}/reports": {
      "get": {
        "operationId": "getOrganisationFactoryReports",
        "summary": "Return an organisation's factory's reports",
        "tags": ["reports"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/factoryId" },
          { "$ref": "#/components/parameters/OptionalWithReportsIds" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/start" },
          { "$ref": "#/components/parameters/fromFilter" },
          { "$ref": "#/components/parameters/toFilter" },
          { "$ref": "#/components/parameters/reportsSortBy" },
          { "$ref": "#/components/parameters/direction" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The reports",
            "content": {
              "application/json": {
                "example": {
                  "items": ["abbacaca-b0b0-b0b0-b0b0-abbacacab0b0"],
                  "reports": {
                    "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0": {
                      "id": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "externalId": "S-0001",
                      "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "factoryId": "fab1ab00-0000-0000-0000-000000000000",
                      "authorId": "41c041c0-0000-0000-0000-000000000000",
                      "data": {
                        "name": "Minion Report",
                        "description": "This is a great report!"
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z"
                    }
                  },
                  "attachments": {
                    "undefined": {
                      "alert": "ce5ca55e-caca-abba-caca-abbacacacaca",
                      "intervention": "a17e4a4c-e000-0000-0000-000000000000",
                      "report": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "scope": "data-science",
                      "stats": {
                        "name": "PDF_20201030_114025.pdf",
                        "size": 402308,
                        "type": "application/pdf"
                      },
                      "creation": "2020-01-01T02:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/ReportsItems" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/factories/{factoryId}/sensors/{sensorId}": {
      "get": {
        "operationId": "getOrganisationFactorySensor",
        "summary": "Returns an organisation's factory's sensor.",
        "tags": ["factories"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/factoryId" },
          { "$ref": "#/components/parameters/sensorId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's sensor",
            "content": {
              "application/json": {
                "example": {
                  "item": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                  "sensors": {
                    "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0": {
                      "id": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "syncMode": "none",
                      "externalId": "S-0001",
                      "factoryId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "assetId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "data": {
                        "name": "Minion Sensor",
                        "overridenType": { "example": "qualitative" },
                        "series": [
                          {
                            "name": "minion",
                            "type": "quantitative",
                            "unit": "Kg",
                            "sourceType": "data"
                          },
                          {
                            "name": "example",
                            "type": "quantitative",
                            "unit": "none",
                            "sourceType": "event",
                            "eventType": "realtime_alert",
                            "eventField": "aggregatableValue1"
                          }
                        ],
                        "variables": { "x": 1 },
                        "alertsTriggers": {
                          "minion": [
                            {
                              "id": "a1347000-b0b0-b0b0-b0b0-abbacacab0b0",
                              "name": "An alert trigger for a given sensor",
                              "i18nMessage": {
                                "fr-FR": "The threshold were hit"
                              },
                              "type": "realtime",
                              "occurences": 3,
                              "resetDelay": 3600000,
                              "rule": {
                                "type": "branch",
                                "operator": "and",
                                "leftNode": {
                                  "type": "label",
                                  "operator": "any",
                                  "target": "assets",
                                  "name": "configurations",
                                  "values": ["c12", "c13"]
                                },
                                "rightNode": {
                                  "operator": "or",
                                  "leftNode": {
                                    "type": "value",
                                    "operator": "eq",
                                    "value": 1664
                                  },
                                  "rightNode": {
                                    "type": "value",
                                    "operator": "eq",
                                    "value": 1664
                                  }
                                }
                              }
                            }
                          ]
                        }
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/SensorItem" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/factories/{factoryId}/sensors": {
      "get": {
        "operationId": "getOrganisationFactorySensors",
        "summary": "Returns organisation's factory sensors",
        "tags": ["factories"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/factoryId" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/start" },
          { "$ref": "#/components/parameters/withAlertTriggerTypes" },
          { "$ref": "#/components/parameters/withFactorySensorsOnly" },
          { "$ref": "#/components/parameters/OptionalWithFactoriesIds" },
          { "$ref": "#/components/parameters/OptionalWithAssetsIds" },
          { "$ref": "#/components/parameters/OptionalWithAncestorsIds" },
          { "$ref": "#/components/parameters/OptionalWithSensorsIds" },
          { "$ref": "#/components/parameters/sensorsSortBy" },
          { "$ref": "#/components/parameters/direction" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's sensors",
            "content": {
              "application/json": {
                "example": {
                  "items": ["abbacaca-b0b0-b0b0-b0b0-abbacacab0b0"],
                  "sensors": {
                    "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0": {
                      "id": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "syncMode": "none",
                      "externalId": "S-0001",
                      "factoryId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "assetId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "data": {
                        "name": "Minion Sensor",
                        "overridenType": { "example": "qualitative" },
                        "series": [
                          {
                            "name": "minion",
                            "type": "quantitative",
                            "unit": "Kg",
                            "sourceType": "data"
                          },
                          {
                            "name": "example",
                            "type": "quantitative",
                            "unit": "none",
                            "sourceType": "event",
                            "eventType": "realtime_alert",
                            "eventField": "aggregatableValue1"
                          }
                        ],
                        "variables": { "x": 1 },
                        "alertsTriggers": {
                          "minion": [
                            {
                              "id": "a1347000-b0b0-b0b0-b0b0-abbacacab0b0",
                              "name": "An alert trigger for a given sensor",
                              "i18nMessage": {
                                "fr-FR": "The threshold were hit"
                              },
                              "type": "realtime",
                              "occurences": 3,
                              "resetDelay": 3600000,
                              "rule": {
                                "type": "branch",
                                "operator": "and",
                                "leftNode": {
                                  "type": "label",
                                  "operator": "any",
                                  "target": "assets",
                                  "name": "configurations",
                                  "values": ["c12", "c13"]
                                },
                                "rightNode": {
                                  "operator": "or",
                                  "leftNode": {
                                    "type": "value",
                                    "operator": "eq",
                                    "value": 1664
                                  },
                                  "rightNode": {
                                    "type": "value",
                                    "operator": "eq",
                                    "value": 1664
                                  }
                                }
                              }
                            }
                          ]
                        }
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z"
                    }
                  },
                  "assets": {
                    "a5537000-0000-0000-0000-000000000001": {
                      "id": "a5537000-0000-0000-0000-000000000001",
                      "syncMode": "none",
                      "externalId": "LN-0001",
                      "factoryId": "fab1ab00-0000-0000-0000-000000000000",
                      "currentConfiguration": "main",
                      "currentPhase": "p34",
                      "currentCycle": "c23",
                      "metrics": {
                        "cadency": {
                          "value": 86,
                          "unit": "rotations/minutes",
                          "status": "good"
                        },
                        "output": {
                          "value": 33,
                          "unit": "rotations",
                          "goal": 1664,
                          "status": "good"
                        }
                      },
                      "powerState": "on",
                      "operatingState": "normal",
                      "healthState": "good",
                      "data": {
                        "name": "Minion Area",
                        "tags": [],
                        "type": "area"
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/SensorsItems" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/factories/{factoryId}/trends": {
      "get": {
        "operationId": "getOrganisationFactoryTrends",
        "summary": "Returns the trends",
        "tags": ["trends"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/factoryId" },
          { "$ref": "#/components/parameters/sensorsIds" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The trends",
            "content": {
              "application/json": {
                "example": {
                  "total": 1,
                  "items": ["acdc41ce-acdc-41ce-acdc-41ceacdc41ce"],
                  "trends": {
                    "acdc41ce-acdc-41ce-acdc-41ceacdc41ce": {
                      "id": "acdc41ce-acdc-41ce-acdc-41ceacdc41ce",
                      "sensorId": "5e450401-b0b0-b0b0-b0b0-abbacacab0b0",
                      "intercept": -40.32,
                      "slope": 0.254,
                      "from": "2020-01-01T00:00:00Z",
                      "to": "2020-01-01T00:00:00Z"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/TrendItems" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/projects/{projectId}": {
      "get": {
        "operationId": "getOrganisationProject",
        "summary": "Returns an organisation's project.",
        "tags": ["projects"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/projectId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's applications",
            "content": {
              "application/json": {
                "example": {
                  "item": "31e331e3-b0b0-b0b0-b0b0-abbacacab0b0",
                  "projects": {
                    "31e331e3-b0b0-b0b0-b0b0-abbacacab0b0": {
                      "id": "31e331e3-b0b0-b0b0-b0b0-abbacacab0b0",
                      "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "author": "41c041c0-0000-0000-0000-000000000000",
                      "data": {
                        "name": "Customer Project",
                        "description": "A customer project setup by itself.",
                        "projectCode": "bench",
                        "algorithms": ["pipelines"],
                        "bridge": {
                          "type": "pull",
                          "handler": "handlePowerTrackSynchronization",
                          "schedule": "0 0 * * *"
                        },
                        "ingestion": {
                          "handler": "handleDataBenchIngestion",
                          "sourceTopic": "raw",
                          "batchSize": 2000,
                          "delay": 30000
                        },
                        "indexation": {
                          "handler": "handleDataBenchIndexation",
                          "sourceTopic": "enriched",
                          "batchSize": 2000,
                          "delay": 30000
                        }
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/ProjectItem" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/projects": {
      "get": {
        "operationId": "getOrganisationProjects",
        "summary": "Returns an organisation's projects.",
        "tags": ["projects"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/start" },
          { "$ref": "#/components/parameters/projectsSortBy" },
          { "$ref": "#/components/parameters/direction" },
          { "$ref": "#/components/parameters/OptionalWithProjectsIds" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's applications",
            "content": {
              "application/json": {
                "example": {
                  "items": ["31e331e3-b0b0-b0b0-b0b0-abbacacab0b0"],
                  "projects": {
                    "31e331e3-b0b0-b0b0-b0b0-abbacacab0b0": {
                      "id": "31e331e3-b0b0-b0b0-b0b0-abbacacab0b0",
                      "organisationId": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                      "author": "41c041c0-0000-0000-0000-000000000000",
                      "data": {
                        "name": "Customer Project",
                        "description": "A customer project setup by itself.",
                        "projectCode": "bench",
                        "algorithms": ["pipelines"],
                        "bridge": {
                          "type": "pull",
                          "handler": "handlePowerTrackSynchronization",
                          "schedule": "0 0 * * *"
                        },
                        "ingestion": {
                          "handler": "handleDataBenchIngestion",
                          "sourceTopic": "raw",
                          "batchSize": 2000,
                          "delay": 30000
                        },
                        "indexation": {
                          "handler": "handleDataBenchIndexation",
                          "sourceTopic": "enriched",
                          "batchSize": 2000,
                          "delay": 30000
                        }
                      },
                      "creation": "2020-01-01T00:00:00Z",
                      "lastModification": "2020-01-01T00:00:00Z"
                    }
                  }
                },
                "schema": { "$ref": "#/components/schemas/ProjectsItems" }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/sensors/aggregateData": {
      "get": {
        "operationId": "getOrganisationSensorsAggregateData",
        "summary": "Returns an organisation's sensors aggregate data.",
        "tags": ["data"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/sensorsIds" },
          { "$ref": "#/components/parameters/from" },
          { "$ref": "#/components/parameters/to" },
          { "$ref": "#/components/parameters/aggregations" },
          { "$ref": "#/components/parameters/valuesNames" },
          { "$ref": "#/components/parameters/OptionalWithDataLabels" },
          { "$ref": "#/components/parameters/OptionalWithValuedLabelsNames" },
          { "$ref": "#/components/parameters/OptionalWithValuedLabelsValues" },
          { "$ref": "#/components/parameters/OptionalWithAssetConfigurations" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingPhases" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingCycles" },
          { "$ref": "#/components/parameters/WithTimeZone" },
          { "$ref": "#/components/parameters/includeLabels" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's sensors aggregate data",
            "content": {
              "application/json": {
                "example": {},
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "from",
                    "to",
                    "sensorsIds",
                    "aggregations",
                    "measures",
                    "valuesNames"
                  ],
                  "properties": {
                    "from": { "$ref": "#/components/schemas/Date" },
                    "to": { "$ref": "#/components/schemas/Date" },
                    "sensorsIds": {
                      "$ref": "#/components/schemas/NonEmptySensorsUUIDS"
                    },
                    "aggregations": {
                      "$ref": "#/components/schemas/aggregations"
                    },
                    "valuesNames": {
                      "$ref": "#/components/schemas/NonEmptyValuesNames"
                    },
                    "configuration": {
                      "$ref": "#/components/schemas/AssetConfiguration"
                    },
                    "phase": {
                      "$ref": "#/components/schemas/ManufacturingPhase"
                    },
                    "measures": { "$ref": "#/components/schemas/measures" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/sensors/aggregateEventData": {
      "get": {
        "operationId": "getOrganisationSensorsAggregateEventData",
        "summary": "Returns an organisation's sensors aggregate event data.",
        "tags": ["data"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/sensorsIds" },
          { "$ref": "#/components/parameters/sensorEventTypesQueryParameter" },
          { "$ref": "#/components/parameters/from" },
          { "$ref": "#/components/parameters/to" },
          { "$ref": "#/components/parameters/aggregations" },
          { "$ref": "#/components/parameters/eventFieldsQueryParameter" },
          { "$ref": "#/components/parameters/OptionalWithDataLabels" },
          { "$ref": "#/components/parameters/OptionalWithValuedLabelsNames" },
          { "$ref": "#/components/parameters/OptionalWithValuedLabelsValues" },
          { "$ref": "#/components/parameters/OptionalWithAssetConfigurations" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingPhases" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingCycles" },
          { "$ref": "#/components/parameters/WithTimeZone" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's sensors aggregate data",
            "content": {
              "application/json": {
                "example": {},
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "from",
                    "to",
                    "sensorsIds",
                    "aggregations",
                    "measures",
                    "eventFields"
                  ],
                  "properties": {
                    "from": { "$ref": "#/components/schemas/Date" },
                    "to": { "$ref": "#/components/schemas/Date" },
                    "sensorsIds": {
                      "$ref": "#/components/schemas/NonEmptySensorsUUIDS"
                    },
                    "aggregations": {
                      "$ref": "#/components/schemas/aggregations"
                    },
                    "eventFields": {
                      "$ref": "#/components/schemas/EventFields"
                    },
                    "configuration": {
                      "$ref": "#/components/schemas/AssetConfiguration"
                    },
                    "phase": {
                      "$ref": "#/components/schemas/ManufacturingPhase"
                    },
                    "measures": { "$ref": "#/components/schemas/measures" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/sensors/aggregateEventRangeData": {
      "get": {
        "operationId": "getOrganisationSensorsAggregateEventRangeData",
        "summary": "Returns an organisation's sensors aggregate event data.",
        "tags": ["data"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/sensorsIds" },
          { "$ref": "#/components/parameters/sensorEventTypesQueryParameter" },
          { "$ref": "#/components/parameters/from" },
          { "$ref": "#/components/parameters/to" },
          { "$ref": "#/components/parameters/aggregations" },
          { "$ref": "#/components/parameters/eventFieldsQueryParameter" },
          { "$ref": "#/components/parameters/OptionalWithDataLabels" },
          { "$ref": "#/components/parameters/OptionalWithValuedLabelsNames" },
          { "$ref": "#/components/parameters/OptionalWithValuedLabelsValues" },
          { "$ref": "#/components/parameters/OptionalWithAssetConfigurations" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingPhases" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingCycles" },
          { "$ref": "#/components/parameters/WithTimeZone" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's sensors aggregate data",
            "content": {
              "application/json": {
                "example": {},
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "from",
                    "to",
                    "sensorsIds",
                    "aggregations",
                    "measures",
                    "eventFields"
                  ],
                  "properties": {
                    "from": { "$ref": "#/components/schemas/Date" },
                    "to": { "$ref": "#/components/schemas/Date" },
                    "sensorsIds": {
                      "$ref": "#/components/schemas/NonEmptySensorsUUIDS"
                    },
                    "aggregations": {
                      "$ref": "#/components/schemas/aggregations"
                    },
                    "eventFields": {
                      "$ref": "#/components/schemas/EventFields"
                    },
                    "configuration": {
                      "$ref": "#/components/schemas/AssetConfiguration"
                    },
                    "phase": {
                      "$ref": "#/components/schemas/ManufacturingPhase"
                    },
                    "measures": { "$ref": "#/components/schemas/measures" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/sensors/data": {
      "get": {
        "operationId": "getOrganisationSensorsData",
        "summary": "Returns an organisation's sensors raw data.",
        "tags": ["data"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/sensorsIds" },
          { "$ref": "#/components/parameters/valuesNames" },
          { "$ref": "#/components/parameters/from" },
          { "$ref": "#/components/parameters/to" },
          { "$ref": "#/components/parameters/OptionalWithDataLabels" },
          { "$ref": "#/components/parameters/OptionalWithValuedLabelsNames" },
          { "$ref": "#/components/parameters/OptionalWithValuedLabelsValues" },
          { "$ref": "#/components/parameters/OptionalWithAssetConfigurations" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingPhases" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingCycles" },
          { "$ref": "#/components/parameters/includeLabels" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's sensors raw data",
            "content": {
              "application/json": {
                "example": {
                  "from": "2020-12-14T12:00:54.123Z",
                  "to": "2020-12-14T12:00:54.123Z",
                  "sensorsIds": ["e7f6e4d5-9f6b-4c5c-8f9d-3c9d8e6e4f4e"],
                  "measures": [
                    {
                      "date": "2022-05-31T00:00:00.000Z",
                      "values": [1, 2, 4],
                      "qualities": [100, 100, 100],
                      "labels": [["tag1"], ["tag2"], ["tag1", "tag2"]]
                    },
                    {
                      "date": "2022-05-31T01:00:00.000Z",
                      "values": [1, 2, 4],
                      "qualities": [100, 100, 100],
                      "labels": [["tag1"], ["tag2"], ["tag1", "tag2"]]
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "from",
                    "to",
                    "sensorsIds",
                    "measures",
                    "valuesNames"
                  ],
                  "properties": {
                    "from": { "$ref": "#/components/schemas/Date" },
                    "to": { "$ref": "#/components/schemas/Date" },
                    "sensorsIds": {
                      "$ref": "#/components/schemas/NonEmptySensorsUUIDS"
                    },
                    "measures": { "$ref": "#/components/schemas/measures" },
                    "valuesNames": {
                      "$ref": "#/components/schemas/NonEmptyValuesNames"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/sensors/eventData": {
      "get": {
        "operationId": "getOrganisationSensorsEventData",
        "summary": "Returns an organisation's sensors event data.",
        "tags": ["data"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/sensorsIds" },
          { "$ref": "#/components/parameters/eventFieldsQueryParameter" },
          { "$ref": "#/components/parameters/sensorEventTypesQueryParameter" },
          { "$ref": "#/components/parameters/from" },
          { "$ref": "#/components/parameters/to" },
          { "$ref": "#/components/parameters/OptionalWithDataLabels" },
          { "$ref": "#/components/parameters/OptionalWithValuedLabelsNames" },
          { "$ref": "#/components/parameters/OptionalWithValuedLabelsValues" },
          { "$ref": "#/components/parameters/OptionalWithAssetConfigurations" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingPhases" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingCycles" },
          { "$ref": "#/components/parameters/includeLabels" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/EventDataResponse" }
        }
      }
    },
    "/organisations/{organisationId}/sensors/eventRangeDataSchema": {
      "get": {
        "operationId": "getOrganisationSensorsEventRangeData",
        "summary": "Returns an organisation's sensors range event data.",
        "tags": ["data"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/sensorsIds" },
          { "$ref": "#/components/parameters/sensorEventTypesQueryParameter" },
          { "$ref": "#/components/parameters/from" },
          { "$ref": "#/components/parameters/to" },
          { "$ref": "#/components/parameters/eventFieldsQueryParameter" },
          { "$ref": "#/components/parameters/OptionalWithDataLabels" },
          { "$ref": "#/components/parameters/OptionalWithValuedLabelsNames" },
          { "$ref": "#/components/parameters/OptionalWithValuedLabelsValues" },
          { "$ref": "#/components/parameters/OptionalWithAssetConfigurations" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingPhases" },
          { "$ref": "#/components/parameters/OptionalWithManufacturingCycles" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The organisation's sensors aggregate data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "from",
                    "to",
                    "sensorsIds",
                    "eventFields",
                    "measures"
                  ],
                  "properties": {
                    "from": { "$ref": "#/components/schemas/Date" },
                    "to": { "$ref": "#/components/schemas/Date" },
                    "sensorsIds": {
                      "$ref": "#/components/schemas/NonEmptySensorsUUIDS"
                    },
                    "eventFields": {
                      "$ref": "#/components/schemas/EventFields"
                    },
                    "configuration": {
                      "$ref": "#/components/schemas/AssetConfiguration"
                    },
                    "phase": {
                      "$ref": "#/components/schemas/ManufacturingPhase"
                    },
                    "measures": { "$ref": "#/components/schemas/RangeMeasures" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{organisationId}/search": {
      "get": {
        "operationId": "getOrganisationUniversalSearch",
        "summary": "Returns an organisation's search results.",
        "tags": ["search"],
        "security": [{ "bearerAuth": ["user"] }],
        "parameters": [
          { "$ref": "#/components/parameters/organisationId" },
          { "$ref": "#/components/parameters/SearchType" },
          { "$ref": "#/components/parameters/SearchSentence" },
          { "$ref": "#/components/parameters/WithFilterTypes" },
          { "$ref": "#/components/parameters/WithFilterIds" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/start" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The results of global search",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": ["id", "type"],
                          "properties": {
                            "id": {
                              "oneOf": [
                                { "$ref": "#/components/schemas/UserUUID" },
                                { "$ref": "#/components/schemas/FactoryUUID" },
                                { "$ref": "#/components/schemas/ProjectUUID" },
                                { "$ref": "#/components/schemas/AssetUUID" },
                                {
                                  "$ref": "#/components/schemas/ApplicationUUID"
                                },
                                {
                                  "$ref": "#/components/schemas/InterventionUUID"
                                },
                                { "$ref": "#/components/schemas/AlertUUID" },
                                { "$ref": "#/components/schemas/ReportUUID" },
                                { "$ref": "#/components/schemas/SensorUUID" },
                                {
                                  "$ref": "#/components/schemas/OrganisationUUID"
                                }
                              ]
                            },
                            "type": {
                              "$ref": "#/components/schemas/SearchType"
                            },
                            "snippet": { "type": "string" }
                          }
                        }
                      }
                    },
                    "suggestions": {
                      "type": "array",
                      "items": { "type": "object" }
                    },
                    "start": { "type": "number" },
                    "total": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/{reportId}": {
      "put": {
        "operationId": "putReport",
        "summary": "Upserts a report",
        "tags": ["reports"],
        "security": [{ "bearerAuth": ["admin"] }],
        "parameters": [
          { "$ref": "#/components/parameters/reportId" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/Report" },
        "responses": {
          "201": { "description": "Report successfully upserted" }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "getUniversalSearch",
        "summary": "Returns results of the universal search according to search parameters",
        "tags": ["search"],
        "security": [{ "bearerAuth": ["admin"] }],
        "parameters": [
          { "$ref": "#/components/parameters/OptionalWithOrganisationsIds" },
          { "$ref": "#/components/parameters/SearchSentence" },
          { "$ref": "#/components/parameters/SearchType" },
          { "$ref": "#/components/parameters/WithFilterTypes" },
          { "$ref": "#/components/parameters/WithFilterIds" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/start" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "responses": {
          "200": {
            "description": "The results of global search",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": ["id", "type"],
                          "properties": {
                            "id": {
                              "oneOf": [
                                { "$ref": "#/components/schemas/UserUUID" },
                                { "$ref": "#/components/schemas/FactoryUUID" },
                                { "$ref": "#/components/schemas/ProjectUUID" },
                                { "$ref": "#/components/schemas/AssetUUID" },
                                {
                                  "$ref": "#/components/schemas/ApplicationUUID"
                                },
                                {
                                  "$ref": "#/components/schemas/InterventionUUID"
                                },
                                { "$ref": "#/components/schemas/AlertUUID" },
                                { "$ref": "#/components/schemas/ReportUUID" },
                                { "$ref": "#/components/schemas/SensorUUID" },
                                {
                                  "$ref": "#/components/schemas/OrganisationUUID"
                                }
                              ]
                            },
                            "type": {
                              "$ref": "#/components/schemas/SearchType"
                            },
                            "snippet": { "type": "string" }
                          }
                        }
                      }
                    },
                    "suggestions": {
                      "type": "array",
                      "items": { "type": "object" }
                    },
                    "start": { "type": "number" },
                    "total": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Returns an user.",
        "tags": ["users"],
        "parameters": [
          { "$ref": "#/components/parameters/userId" },
          { "$ref": "#/components/parameters/withMembershipsStatuses" },
          { "$ref": "#/components/parameters/xSdkVersion" },
          { "$ref": "#/components/parameters/xApplicationVersion" },
          { "$ref": "#/components/parameters/xApiVersion" }
        ],
        "security": [{ "bearerAuth": ["user"] }],
        "responses": {
          "200": {
            "description": "The user",
            "content": {
              "application/json": {
                "example": {
                  "item": "41c041c0-0000-0000-0000-000000000000",
                  "users": {
                    "41c041c0-0000-0000-0000-000000000000": {
                      "id": "41c041c0-0000-0000-0000-000000000000",
                      "roles": ["user"],
                      "memberships": [
                        {
                          "roles": ["technician"],
                          "id": "abbacaca-b0b0-b0b0-b0b0-abbacacab0b0",
                          "status": "member",
                          "lastInvitationDate": "2020-01-01T00:00:00Z"
                        }
                      ],
                      "data": {
                        "email": "john.doe@diagrams-technologies.com",
                        "name": "John Doe",
                        "givenName": "John",
                        "familyName": "Doe",
                        "locale": "fr-FR",
                        "timeZone": "Europe/Paris"
                      },
                      "creation": "2020-01-01T00:00:00Z",
[...]
